.group__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #a5c0e448);
    border-bottom: 1px solid  #a5c0e43b;
    margin-bottom: 20px;
}

.group__header img {
    position: absolute;
    width: 240px;
    bottom: 0;
    right: 200px;
}

.group__header h1 {
    color: #263B96;
    font-weight: 600;
    font-size: 2rem;
}

.group__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    width: auto;
}

.group__containers {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
